html {
  font-size: 62.5%; }

body {
  font-size: 1.8rem; }

ul, li {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  cursor: pointer; }

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black; }

.skip-link:focus {
  left: 0; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0; }

h1 {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15rem;
  line-height: 92px; }

h2 {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4.2rem;
  line-height: 0; }

h2 {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3.2rem;
  line-height: 0; }

p {
  font-family: 'Cabin', sans-serif;
  color: #171717;
  font-size: 2rem;
  line-height: 32px; }

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  width: 80%; }
